body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginForm {
    width: 400px;
    margin: 0 auto;
}

#nav{
    background-color : black;
}
a{
    color:white;
}

.titulo{
    margin-bottom: 30px;
    text-transform: uppercase;
}

#grid_cadastro > div > table > thead > tr th:nth-child(2) {
    width: 100px;
}

#grid_cadastro > div > table > thead > tr th:nth-child(3) {
    width: 200px;
}

#cadastro {
    width: 70%;
    margin: 0 auto;
}

#cadastro_cabecalho {
    border-bottom: 1px, #dddddd, solid;
}

#cadastro_conteudo {
    margin-top: 20px;
}

#cabecalho_grid {
    margin-bottom: 20px;
}

.invisivel{
    display: none;
}